<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internal Server Error</title>
    <!-- Common styles and scripts -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/themes/css/default.css}">
    <script type="text/javascript" th:src="@{/themes/js/app.min.css}"></script>
</head>
<body>
<h1>Internal Server Error</h1>
<h3>Cause : <span th:text="${cause}"></span></h3>
<h3 th:text="${message}"></h3>
<div>
    <h3>Trace</h3>
    <br/>
    <p th:text="${trace}"></p>
</div>

</body>
</html>