<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Noxolo.Mkhungo" />
        <!-- Common styles and scripts -->
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/themes/css/default.css}">
        <link rel="shortcut icon" href="/static/favicon.ico" th:href="@{/favicon.ico}">
        <script type="text/javascript" th:src="@{/themes/js/app.min.css}"></script>
</head>
<body>
<h1>Error <span th:text="${errorCode}"></span></h1>
<h3 th:text="${message}"></h3>
</body>
</html>